
<%= form_for(user, url: sessions_path) do |f| %>

  <% if flash[:error] %>
    <div id="error_explanation">
      <h2>Login Error</h2>
        <p>
        <%= flash[:error] %>
        </p>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "name" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, class: "password" %>
  </div>

  <div class="actions">
    <%= f.submit 'Login' %>
  </div>
<% end %>
