<!DOCTYPE html>
<html>
  <head>
    <title>Polygon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= link_to "Logout", session_path, method: :delete, class: 'logout' %>
      <%= link_to 'New Entry', new_entry_path, class: 'new-entry' %>
    <% else %>
      <%= link_to "Login", new_session_path, class: 'login' %>
      <%= link_to "Register", new_user_path, class: "register" %>
    <% end %>

    <%= yield %>
  </body>
</html>
